
.logo{
    display: flex;
    justify-content: center;
    height: 150px;
}

.upperButton{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}
.bottomButton{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 30px;
}
.container{
    display: flex;
    justify-content: center;
}

body{
    background-color: rgb(170, 170, 170);
}